*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.logo-container{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: 2rem 1rem 0 6rem;
    position: fixed;
    z-index: 1001;
}

.logo a img{
    left: 1rem;
    padding: 1rem;
    width: 90%;
    height: 90%;
}

html{
    width: 100%;
    font-size: .7rem;
    overflow-x: hidden;
}

body{
    background: #010103;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: #d3ad7f;
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    overflow: hidden;
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}


.menu .box-container .btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #d3ad7f;
    cursor: pointer;
}



.btn_1{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    overflow: hidden;
    display: inline-block;
    margin-top: 2rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background-color: #13131a;
    cursor: pointer;
}

.header{
    width: 100%;
    position: fixed;
    padding: 4rem 2%;
    z-index: 1000;
}

.header .navbar{
    width: 90%;
    margin-left: 50rem;
}

.header .navbar a{
    margin: 0 5rem;
    font-size: 2rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#contact{
    padding: 0 10rem 4rem 10rem;
}

.contact .row{
    background: #13131a;
}

.contact .row .map{
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #010103;
    border: .1rem solid rgba(255,255,255,.3);
}

.contact .row form .inputBox input, textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: none;
    background: none;
    color: #fff;
}

.contact .row form .inputBox textarea{
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.footer{
    background: #13131a;
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: .1rem solid rgba(255,255,255,.3);
    margin: .5rem;
    border-radius: 50%;
}

.footer .share .wp{
    display: inline-block;
}

.footer .share .wp .wp__1{
    top: 2px;
    height: 2.3rem;
}
.footer .share .wp .wp__2{
    top: -1px;
    height: 1.8rem;
}


.footer .credit{
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: #d3ad7f;
}
